$containerBorderColor: #6C757D;
$imgBgColor: #6C757D;
$commentBorederColor: #28A745;


@mixin page-width {
  max-width: 92%;
  margin: 0 auto;
}

@mixin container-border {
  border-top: solid 1px $containerBorderColor;
}

@mixin image-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: $containerBorderColor;
  overflow: hidden;


  img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}
