<template>
  <div
    class="comment-item"
    :class="{
      'comment-item--indent comment-item--dashed': comment.step > 0 && comment.step < 4,
    }"
  >
    <div class="comment-body">
      <div class="comment-body__top">
        <div class="comment-body__avatar-container">
          <img
            v-if="comment.owner.avatar.src"
            :src="comment.owner.avatar.src"
            alt=""
            class="comment-body__avatar"
          />
        </div>
        <div class="comment-body__name">
          {{ `${comment.owner.firstname} ${comment.owner.lastname}` }}
        </div>
      </div>
      <div class="comment-body__date">{{ formatedDate }}</div>
      <div
        class="comment-body__text"
        v-if="comment.body.format === 'plain_text'"
      >
        {{ comment.body.text }}
      </div>
      <div class="comment-body__text" v-html="comment.body.text" v-else></div>
      <b-button-group>
        <b-button variant="danger" size="sm" @click="deleteComment()"
          >Удалить</b-button
        >
        <b-button
          v-if="Object.keys(comment.files).length"
          variant="info"
          size="sm"
          v-b-toggle="comment.uuid"
          >Развернуть</b-button
        >
        <b-button
          variant="success"
          size="sm"
          @click="$emit('answer', comment)"
          v-b-modal.add-comment-modal
          >Ответить</b-button
        >
      </b-button-group>
      <b-collapse :id="comment.uuid" class="mt-2">
        <div class="comment-images">
          <img
            class="comment-images__item"
            v-for="(img, i) of comment.files"
            :key="`comment_image_${i}_${img}`"
            :src="img.thumbnail.links.fallback"
            alt=""
          />
        </div>
      </b-collapse>
    </div>

    <CommentItem
      @answer="answer"
      @rerender="$emit('rerender')"
      v-for="(comment, i) of comment.answers"
      :key="`comment_anser_${i}_${comment.uuid}`"
      :comment="comment"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

import { Comment, FileItem } from "@/types/comment";

import { mainStore } from "@/store";

@Component({})
export default class CommentItem extends Vue {
  @Prop({ default: () => ({} as Comment) }) comment!: Comment;

  key: number = 1;

  addNull(num: number): string {
    return num < 10 ? `0${num}` : `${num}`;
  }

  get formatedDate(): string {
    const date = new Date(+this.comment.created * 1000);
    return `
    ${this.addNull(date.getDate())}.${this.addNull(
      date.getMonth() + 1
    )}.${date.getFullYear()}`;
  }

  public deleteComment(): void {
    mainStore.DELETE_COMMENT(this.comment.uuid);
    this.$emit("rerender");
  }

  public answer(comment: Comment) {
    this.$emit("answer", comment);
  }
}
</script>

<style lang="scss">
.comment-item--dashed {
  border-left: 1px solid $commentBorederColor;
}

.comment-item {
  &--indent {
    margin-left: 10px;
  }

  .comment-body {
    padding: 5px 0 5px 5px;

    &__top {
      display: grid;
      grid-template-columns: 50px 1fr;
      grid-gap: 5px;
      align-items: center;
    }

    &__avatar-container {
      background-color: $imgBgColor;
      @include image-container;
    }

    &__name {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__date {
      font-size: 0.8rem;
      margin-bottom: 5px;
      color: #777;
    }

    &__text {
      font-size: 1rem;
      line-height: 1;
      margin-bottom: 10px;
    }
  }

  .comment-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;

    &__item {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
</style>
