
<template>
  <div class="comment-answer-popup">
    <b-modal
      title="Ответ на комментарий"
      ok-title="Подтвердить"
      cancel-title="Отмена"
      :ok-disabled="!valid"
      id="add-comment-modal"
      @ok="submit()"
    >
      <p>Профиль:</p>
      <b-form-input
        class="comment-answer-popup__input"
        v-model="answerData.owner.firstname"
        placeholder="Имя"
      ></b-form-input>
      <b-form-input
        class="comment-answer-popup__input"
        v-model="answerData.owner.lastname"
        placeholder="Фамилия"
      ></b-form-input>

      <b-form-file
        browse-text="Выбрать"
        placeholder="Выбрать аватар"
        class="comment-answer-popup__input"
        v-model="avatar"
        :state="true"
        drop-placeholder="Drop file here..."
      ></b-form-file>
      <p>Комментарий:</p>
      <b-form-textarea
        class="comment-answer-popup__input"
        v-model="answerData.body.text"
        placeholder="Ваш комментарий..."
      ></b-form-textarea>

      <b-form-file
        browse-text="Выбрать"
        placeholder="Добавить изображения"
        class="comment-answer-popup__input"
        v-model="images"
        :multiple="true"
        :state="true"
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";
import { Comment } from "@/types/comment";

import { v1 as uuidv1 } from "uuid";
import { mainStore } from "~/store";

@Component({})
export default class CommentAnswerPopup extends Vue {
  @Prop({ default: () => ({} as Comment) }) parentComment!: Comment;
  okDisabled: boolean = true;
  @Prop({ default: false }) isParent!: boolean;

  avatar: File = {} as File;
  images: Array<File> = [];

  answerData: Comment = {
    uuid: "",
    status: 0,
    star: 0,
    pid: "",
    review_type: "",
    body: {
      text: "",
      format: "plain text",
    },
    files: {},
    video: {},
    created: "",
    changed: "",
    owner: {
      uuid: "",
      login: "",
      firstname: "",
      lastname: "",
      avatar: {
        src: "",
      },
    },
    step: 0,
    pros: {
      text: "",
      format: "",
    },
    cons: {
      text: "",
      format: "",
    },
    thread: "",
    answers: [],
  };

  get valid(): boolean {
    return (
      !!this.answerData.owner.firstname.length &&
      !!this.answerData.owner.lastname.length &&
      !!this.answerData.body.text.length &&
      !!this.avatar.name
    );
  }

  setAvatar(): void {
    if (!!this.avatar.name) {
      this.answerData.owner.avatar.src = URL.createObjectURL(this.avatar);
    }
  }

  setImages() {
    if (!this.images.length) {
      return;
    }
    for (let img of this.images) {
      this.answerData.files[uuidv1()] = {
        thumbnail: {
          links: {
            fallback: URL.createObjectURL(img),
          },
        },
      };
    }
  }

  submit() {
    this.setAvatar();
    this.setImages();
    this.answerData.pid = !this.parentComment.uuid
      ? null
      : this.parentComment.uuid;
    this.answerData.step = !this.parentComment.uuid
      ? 0
      : this.parentComment.step + 1;
    this.answerData.created = String(Date.now() / 1000);
    this.answerData.changed = this.answerData.created;
    mainStore.ADD_COMMENT(this.answerData);
    this.answerData = {} as Comment;
    this.$emit("rerender");
  }
}
</script>

<style lang="scss">
.comment-answer-popup {
  &__input {
    margin-bottom: 10px;
  }
}
</style>
