<template>
  <div class="comments-list">
    <div class="comments-list__add">
      <b-button
        variant="success"
        size="sm"
        v-b-modal.add-comment-modal
        >Комментировать</b-button
      >
    </div>
    <CommentItem
      @rerender="rerender()"
      @answer="answer"
      v-for="comment of getCommentsTree"
      :key="comment.uuid + key"
      :comment="comment"
    />
    <CommentAnswerPopup
      :key="`add_answer_popup_${key}`"
      @rerender="rerender()"
      :parentComment="parentComment"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";

import { mainStore } from "@/store";

import { CommentsList } from "@/types/commentsList";
import { Comment } from "@/types/comment";

import CommentItem from "@/components/CommentItem.vue";
import CommentAnswerPopup from "@/components/CommentAnswerPopup.vue";

@Component({
  components: {
    CommentItem,
    CommentAnswerPopup,
  },
})
export default class CommentList extends Vue {
  key: number = 1;
  parentComment: Comment = {} as Comment;

  get getCommentsTree(): Comment[] {
    return mainStore.COMMENTS_TREE;
  }

  answer(parentComment: Comment): void {
    this.parentComment = parentComment;
  }

  rerender(): void {
    mainStore.SET_COMMENTS_TREE();
    ++this.key;
  }

  fetch() {
    mainStore.SET_COMMENTS_TREE();
  }
}
</script>

<style lang="scss">
.comments-list{
  &__add{
    margin-bottom: 10px;
  }
}
</style>
