<template>
  <div class="default">
    <div class="default__body">
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "nuxt-property-decorator";

@Component({})
export default class Default extends Vue {}
</script>

<style lang="scss">
.default {
  &__body{
    @include page-width;
  }
}
</style>
