<template>
  <div class="index">
    <CommentList />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "nuxt-property-decorator";
import CommentList from "@/components/CommentList.vue";

@Component({
  components: {
    CommentList,
  },
})
export default class Index extends Vue {}
</script>

<style lang="scss">
.index{
  padding: 10px 0 100px 0;
}
</style>
